/* src/components/ChatList.css */

.sidebar-chats {
  background: #f8f9fa;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebar-header {
  padding: 1rem;
  border-bottom: 1px solid var(--border-color);
  background-color: #fff;
}

.chat-list-items {
  overflow-y: auto;
  flex-grow: 1;
}

.chat-item {
  padding: 1rem;
  cursor: pointer;
  border-bottom: 1px solid var(--border-color);
  background: white;
  transition: background-color 0.2s;
}

.chat-item:hover {
  background-color: var(--background-light);
}

.chat-item.active {
  background-color: #e7f1ff;
  border-right: 3px solid #0d6efd;
}

.assigned-text {
  font-size: 0.85rem;
  color: #6c757d;
  margin: 0;
}

.unassigned-text {
  font-size: 0.85rem;
  color: #198754;
  font-weight: bold;
  margin: 0;
}
.chat-item-closed {
  opacity: 0.6;
  background-color: #f1f1f1;
}

.chat-item-closed:hover {
  opacity: 0.8;
}
.chat-avatar {
  width: 48px;
  min-width: 48px; /* Garante que a largura não seja menor que 48px */
  height: 48px;
  border-radius: 50%; /* Deixa a imagem redonda */
  object-fit: cover; /* Faz a imagem preencher o círculo sem distorcer */
  flex-shrink: 0; /* Impede que a imagem encolha se não houver espaço */
}